*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    color: yellow;
}

@font-face {
    font-family: pacman;
    src: url(../fonts/Pacmania.otf);
}

h1 {
    font-family: pacman;
    font-size: 5rem;
}
.fondo {
    background-image: url(../assets/background-pacmanVacio.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}
.audio { 
    width: 10%;
    box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
    border-radius: 90px;
    transform: scale(1.05);
  }
.pacmanmotion {
    position: relative;
    animation: pacman 10s infinite;
}
@keyframes pacman {
    0% {top:35px; left: 0px; rotate: 0deg;}
    8% {top:35px; left: 280px; rotate: 0deg;}
    11% {top: 130px; rotate: 90deg;}
    20% {rotate: 90deg; rotate: 0deg;}
    25% {top: 130px; left: 500px; rotate: 0deg;}
    30% {top: 210px; left: 500px; rotate: 90deg;}
    35% {top: 210px; left: 580px; rotate: 0deg;}
    40% {top: 280px; left: 580px; rotate: 90deg;}
    45% {top: 280px; left: 730px; rotate: 0deg;}
    50% {top: 358px; left: 730px; rotate: 90deg;}
    55% {top: 358px; left: 880px; rotate: 0deg;}
    60% {top: 358px; left: 880px; rotate: 0deg;}
    65% {top: 430px; left: 880px; rotate: 90deg;}
    70% {top: 430px; left: 1040px; rotate: 0deg;}
    75% {top: 500px; left: 1040px; rotate: 90deg;}
    80% {top: 500px; left: 1110px; rotate: 0deg;}
    85% {top: 650px; left: 1110px; rotate: 90deg;}
    90% {top: 650px; left: 1180px; rotate: 0deg;}
    95% {top: 580px; left: 1180px; rotate: -90deg;}
    100% {top: 580px; left: 1232px; rotate: 0deg;}
}

/*ACA EMPIEZO A COLOCAR MEDIAQUERIES*/

/*TAMAÑO DISPOSITIVO MOVIL*/
@media screen and (min-width: 320px) and (max-width: 457px) {

    body {
    background-color: #d12020;
    }
    .sizepacman {
        width: 15px;
    }

    @keyframes pacman {
        0% {top:1px; left: 0px; rotate: 0deg;}
        8% {top:1px; left: 65px; rotate: 0deg;}
        11% {top: 30px; left: 65px; rotate: 90deg;}
        20% {top: 30px; left: 130px; rotate: 00deg;}
        25% {top: 50px; left: 130px; rotate: 90deg;}
        30% {top: 50px; left: 150px; rotate: 0deg;}
        35% {top: 70px; left: 150px; rotate: 90deg;}
        40% {top: 70px; left: 190px; rotate: 0deg;}
        45% {top: 90px; left: 190px; rotate: 90deg;}
        50% {top: 90px; left: 230px; rotate: 0deg;}
        55% {top: 112px; left: 230px; rotate: 90deg;}
        60% {top: 112px; left: 272px; rotate: 0deg;}
        65% {top: 132px; left: 272px; rotate: 90deg;}
        70% {top: 132px; left: 292px; rotate: 0deg;}
        75% {top: 172px; left: 292px; rotate: 90deg;}
        85% {top: 172px; left: 315px; rotate: 0deg;}
        90% {top: 152px; left: 315px; rotate: -90deg;}
        100% {top: 152px; left: 328px; rotate: 0deg;}

    }

}

@media screen and (min-width: 458px) and (max-width: 789px) {

    body {
    background-color: #20cbd1;
    }
    .sizepacman {
        width: 20px;
    }

    @keyframes pacman {
        0% {top:3px; left: 0px; rotate: 0deg;}
        8% {top:3px; left: 85px; rotate: 0deg;}
        11% {top: 38px; left: 85px; rotate: 90deg;}
        20% {top: 38px; left: 162px; rotate: 0deg;} 
        25% {top: 62px; left: 162px; rotate: 90deg;}
        30% {top: 62px; left: 186px; rotate: 0deg;}
        35% {top: 90px; left: 186px; rotate: 90deg;}
        40% {top: 90px; left: 238px; rotate: 0deg;}
        45% {top: 115px; left: 238px; rotate: 90deg;}
        50% {top: 115px; left: 288px; rotate: 0deg;}
        55% {top: 140px; left: 288px; rotate: 90deg;}
        60% {top: 140px; left: 338px; rotate: 0deg;}
        65% {top: 168px; left: 338px; rotate: 90deg;}
        70% {top: 168px; left: 363px; rotate: 0deg;}
        75% {top: 218px; left: 363px; rotate: 90deg;}
        85% {top: 218px; left: 390px; rotate: 0deg;}
        90% {top: 190px; left: 390px; rotate: -90deg;}
        100% {top: 190px; left: 408px; rotate: 0deg;}
    }

}





/*TAMAÑO DISPOSITIVO TABLET*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        background-color: #FFB8FF;
        }

    .sizepacman {
        width: 35px;
    }

    @keyframes pacman {
        0% {top:16px; left: 0px; rotate: 0deg;}
        8% {top:16px; left: 142px; rotate: 0deg;}
        11% {top: 68px; left: 142px; rotate: 90deg;}
        20% {top: 68px; left: 270px; rotate: 0deg;}
        25% {top: 112px; left: 270px; rotate: 90deg;}
        30% {top: 112px; left: 310px; rotate: 0deg;}
        35% {top: 152px; left: 310px; rotate: 90deg;}
        40% {top: 152px; left: 395px; rotate: 0deg;}
        45% {top: 195px; left: 395px; rotate: 90deg;}
        50% {top: 195px; left: 478px; rotate: 0deg;}
        55% {top: 238px; left: 478px; rotate: 90deg;}
        60% {top: 238px; left: 555px; rotate: 0deg;}
        65% {top: 278px; left: 555px; rotate: 90deg;}
        70% {top: 278px; left: 600px; rotate: 0deg;}
        75% {top: 360px; left: 600px; rotate: 90deg;}
        80% {top: 360px; left: 638px; rotate: 0deg;}
        90% {top: 320px; left: 638px; rotate: -90deg;}
        100% {top: 320px; left: 665px; rotate: 0deg;}
 
    }

}